.SingleUser-container {

  border-radius: var(--s);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleUser-container--active {
  background: var(--grey);
}

.SingleUser-AvatarUser {
  background: var(--darkgrey);
  border-radius: var(--m);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}
