.Chatbook-container {
  width: 100%;
  /* background-color: #99D19C; */
  padding-right: var(--l);
}

.Chatbook-userList {
  flex: 0 0 100px;
  margin-right: var(--l);
}

.Chatbook-chatContainer {
  overflow-x: hidden;
  /* overflow-y: auto; */
}
