.Chatbook-container {
  width: 100%;
  background-color: red;
}

.Chatbook-userList {
  flex: 0 0 220px;
  margin-right: var(--l);
}

.Chatbook-chatContainer {
  flex-grow: 1;
  overflow-x: hidden;
}
