.Landing-title{
    font-size: 40px;
    padding: 100px;
    color: var(--primary)
}

.Landing-optionContainer{
    background-color: var(--white);
    position: absolute;
    width: 300px;
    height: 200px;
    justify-content: space-between;
}

.Landing-optionButton{
    background-color: var(--secondary--dim);
    color: var(--black);

    margin: var(--m);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-radius: 50px;

    transition-duration: 0.4s;
}

.Landing-optionButton:hover {
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
}

#Landing-joinGame {
    /* color: var(--primary);*/
}

#Landing-joinGame:hover {
    /* color: var(--primary);*/
}

#Landing-makeGame {
    /* color: #000; */
}

#Landing-makeGame:hover {
    /* color: #000; */
}
