.Landing-title{
    font-size: 40px;
    padding: 100px;
    color: var(--primary)
}

.Landing-optionContainer{
    position: absolute;
    width: 300px;
    bottom: 40%;
    z-index: 100;
}

.Landing-optionButton{
    background-color: var(--secondary--dim);
    color: var(--black);

    margin: var(--m);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border-radius: 50px;

    transition-duration: 0.4s;

    flex-grow: 1;
}

.Landing-optionButton:hover {
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
}

#Landing-joinGame {
    /* color: var(--primary);*/
    flex-grow: 1;
}
