.Prompt-container {
    height: 100%;
    width: 100%;
}
.Prompt-prompt {
    flex: 0 0 220px;
    /* margin-right: var(--l); */
}
.Prompt-response {
    flex-grow: 1;
    overflow-x: hidden;
}
.Prompt-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
}
.Prompt-button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1.5rem;
    font-family: var(--font);
    color: var(--text);
    background-color: var(--background);
}
