.GameBar-container {
    padding: var(--s) var(--m);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.GameBar-linkContainer {
    margin-left: var(--l);
}

.GameBar-link {
    position: fixed;
    clip-path: circle(1000px at 90% 10%);
    background-color: red;
}
