.SingleFinalUser-container {

  border-radius: var(--s);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleFinalUser-container:hover {
  background: var(--blue);
}

.SingleFinalUser-container--active {
  background: var(--grey);
}

.SingleFinalUser-AvatarUser {
  background: var(--darkgrey);
  border-radius: var(--m);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}
